p The following demos system are built to demonstrate the progress of our work. Click on the link to access the system.
ol
	li
		p A system to illustrate the difference between various OpenIE methods when applying on a sentence
			br
			a(href="http://s242-097.jaist.ac.jp/relextraction/", target="_blank") View demo

	li
		p A demo which includes a sentences from Japan Civil Code and their corresponding binary triples
			br
			a(href="http://s242-097.jaist.ac.jp/openiecoliee/", target="_blank") View demo

	li
		p A demo for new approach to building relationship between extracted triples
			br
			a(href="http://s242-097.jaist.ac.jp/openiecoliee/", target="_blank") View demo

	li
		p Source code demo Information Retrieval in Legal Text: (SCIDOCA 2016)
			br
			a(href="https://github.com/ntson2002/legal-articles-search", target="_blank") https://github.com/ntson2002/legal-articles-search