p The following demos system are built to demonstrate the progress of our work. Click on the link to access the system.
ol
	li
		p A system to illustrate the difference between various OpenIE methods when applying on a sentence
			br
			a(href="http://150.65.242.101:8082/relextraction", target="_blank") View demo

	li
		p A demo which includes a sentences from Japan Civil Code and their corresponding binary triples
			br
			a(href="http://150.65.242.101:8082/openiecoliee", target="_blank") View demo

	li
		p A demo for new approach to building relationship between extracted triples
			br
			a(href="http://150.65.242.101:3005/openiecoliee", target="_blank") View demo