ul
	li
		i A Study of Open Information Extraction from Legal Texts.
		span  Chien-Xuan Tran, Minh-Le Nguyen and Ken Satoh. SCIDOCA 2016
	li
		i Legal Question Answering using Ranking SVM and Deep Convolutional Neural Network.
		span 	Khac-Phong Do, Huy-Tien Nguyen, Chien-Xuan Tran, Minh-Tien Nguyen, Minh-Le Nguyen. Proceedings of JURISIN 2016.
	li
		i Lexical-Morphological Modeling for Legal Text Analysis.
		span 	Danilo Carvalho, Minh-Tien Nguyen, Tran Xuan Chien and Nguyen Le Minh. Lecture notes in computer science:New Frontiers in Artificial Intelligence，2016/03