ul
	li: span Chien-Xuan Tran, Minh-Le Nguyen and Ken Satoh.
		i  A Study of Open Information Extraction from Legal Texts.
		span  SCIDOCA 2016

	li
		span Son Nguyen Truong, Nguyen Le Minh, Ken Satoh, Tojo Satoshi and Akira Shimazu.
		i  Single and multiple layer BI-LSTM-CRF for recognizing requisite and effectuation parts in legal texts.
		span  ASAIL 2017
	li
		span Nguyen Truong Son, Phan Viet Anh, Nguyen Le Minh.
		i  Recognizing entailments in legal texts using sentence encoding-based and decomposable attention models.
		span  COLIEE 2017

	li
		span Nguyen Truong Son, Nguyen Le Minh, Ken Satoh.
		i  Personalized Information Retrieval Systems in Legal Texts.
		span  SCIDOCA 2016

	li
		span Nguyen Truong Son, Phan Viet Anh, Trieu Hai Long, Nguyen Thanh Huy, Chau Ngoc Phuong, Phan Trung Tin, Nguyen Le Minh.
		i  Legal Information Extraction/Entailment Using SVM-Ranking and Tree-based Convolutional Neural Network.
		span  JURISIN 2016